name: Market Momentum Tracker

on:
  schedule:
    - cron: '7,22,37,52 * * * *'
  workflow_dispatch:      # Allows manual testing

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      # --- RESTORE & SAVE CACHE ---
      - name: Cache JSON Data
        uses: actions/cache@v3
        with:
          path: |
            ape_cache.json
            market_history.json
          key: ape-momentum-v1-${{ github.run_id }}
          restore-keys: |
            ape-momentum-v1-

      - name: Install dependencies
        run: |
          pip install pandas yfinance requests lxml

      # --- RUN SCRIPT (Generates website files) ---
      - name: Run Script
        env:
          DISCORD_WEBHOOK: ${{ secrets.DISCORD_WEBHOOK }}
          GITHUB_REPOSITORY: ${{ github.repository }} # Needed to build the link
        run: python ape_wisdom.py --auto

      # --- DEPLOY TO GITHUB PAGES ---
      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./public  # Uploads the folder the script created
